.meet_founder_wrapper{
    display: flex;
    justify-content: space-between;
}
@media(max-width:768px){
    .meet_founder_wrapper{
        flex-direction: column-reverse;
        row-gap: 40px;
    }
}