.home_programs_wrapper{
    padding: 20px 0 170px 0;
 
}
.program_slide{
     width: 90% !important;
     height: 310px;
     border-radius: 15px;
     overflow: hidden;
     position: relative;
}

.program_slide img{
    width: 100%;
    height: 100%;
       border-radius: 15px;
    object-fit: cover;
    z-index: 8;
}

.home_programs_content_wrapper .all_heading{
    text-align: center;
    margin-bottom: 20px;
}
.home_programs_content_wrapper .all_heading2{
    text-align: center;
    margin-bottom: 40px;
}
.program_slider_wrapper{
    margin-bottom: 40px;

}
.program_slide p{
    position: absolute;
    width: fit-content;
    padding: 2px 3px;
    font-size: 9px;
    color: #fff;
    z-index: 9;
    border: 1px solid #fff;
    background-color: var(--text-color);
    border-radius: 3px;
    top: 20px;
    left: 15px;
}
.program_slide h4{
    position: absolute;
    bottom: 20px;
    left: 15px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}
@media(max-width:699px){
    .program_slide{
        width: 98% !important;
    }
}
@media(max-width:480px){
    .program_slide{
        width: 100% !important;
    }
    .home_programs_wrapper {
        padding: 20px 0 140px 0;
    }
}