.fc .fc-highlight {
    border: 2px solid var(--primary-color);
    background-color: transparent !important;
    border-radius: 10px !important;

}

.claendar_wrappr553 {
    height: 100vh;
    overflow: auto;
    padding: 20px 0;
}

.fc-scroller {
    overflow: hidden hidden !important;
}

.fc .fc-daygrid-day-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    min-height: 127px !important;
    width: 153px !important;
    min-width: 153px !important;
    padding-left: 5px;
    padding-right: 5px;
}

.fc-theme-standard td,
.fc-theme-standard th {
    width: 153px !important;
    min-width: 153px !important;
}

.fc .fc-scrollgrid,
.fc .fc-scrollgrid table {
    table-layout: unset;
}


.fc td {
    border-radius: 10px !important;
}

.fc-h-event {
    background-color: var(--primary-color);
    border: none;
    box-shadow: none !important;
    padding: 0px 10px;
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start,
.fc-direction-rtl .fc-daygrid-event.fc-event-end {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 12px;
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fc .fc-button-primary {
    background-color: #fff !important;
    border: none;
    box-shadow: 0px 4px 4px 0px #0000003a;
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
}

.fc .fc-button .fc-icon {
    color: #000 !important;
}

.fc .fc-button-group {
    gap: 15px;
}

.fc .fc-button-primary:hover {
    background-color: #fff !important;
    border: none;
    box-shadow: 0px 4px 4px 0px #0000003a;
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
}

.fc-today-button {
    display: none !important;
}

.fc .fc-button-primary:focus {
    border: none !important;
}

.calendar_dates_porgrams_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 30px;
    border: 1px solid rgba(217, 217, 217, 1);
    padding: 20px;
    border-radius: 15px;
}

.calendar_program {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 15px;
}

.calendar_program_details_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.calendar_program h5 {
    font-size: 17px;
    font-weight: 500;
}

.calendar_program_details_wrapper img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.calendar_program_name_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.calendar_program_name_wrapper h4 {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    cursor: pointer;
}

.calendar_program_name_wrapper p {
    font-size: 13px;
    font-weight: 500;
    color: var(--text-color);
    cursor: pointer;
}

.calendar_program_links {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    width: 240px;
}

.calendar_program_links h6 {
    font-weight: 500;
    color: var(--primary-color);
    font-size: 15px;
    cursor: pointer;
}

.calendar_program_links p {
    font-size: 15px;
    font-weight: 500;
    color: var(--primary-color);
    display: none;
    cursor: pointer;
}

.disable h6 {
    font-weight: 500;
    color: rgba(146, 146, 146, 1);
    font-size: 15px;
    display: block;
}

.disable p {
    font-size: 15px;
    font-weight: 500;
    color: var(--primary-color);
    display: block;
}