.navbar_wrapper_main {
    position: absolute;
    top: 20px;
    padding: 17px 0;
    width: 100%;
    background-color: var(--body-color);
}

.navbar_content_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    width: 320px;
}

.nav_links_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.nav_links_wrapper a {
    text-decoration: none;
    font-size: 15px;
    color: var(--text-color);
    font-weight: 400;
}

.nav_links_wrapper .active {
    position: relative;
}

.nav_links_wrapper .active::before {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    left: 50%;
    transform: translateX(-50%);
}

.nav_links_wrapper a:hover {
    color: var(--text-color);
}

.nav_links_wrapper .programs_link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-size: 15px;
    color: var(--text-color);
    font-weight: 400;
    position: relative;
    cursor: pointer;
}

.programs_link img {
    width: 20px;
}

.fa-bars {
    font-size: 25px;
    color: var(--primary-color);
    cursor: pointer;
    display: none;
}

.program_dropdown {
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    background-color: #fff;
    width: 150px;
    top: 150%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    cursor: pointer;
    border: 1px solid #e4e4e4;
    animation: transform 0.3s linear 1;

}

@keyframes transform {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.program_dropdown p {
    font-size: 15px;
    font-weight: 400;
    padding: 5px 10px;
    transition: 0.2s linear all;
}

.program_dropdown p:hover {
    background-color: var(--primary-color);
    color: #fff;
}

@media(max-width:1070px) {
    .nav_links_wrapper a {
        display: none;
    }

    .nav_links_wrapper .programs_link {
        display: none;
    }

    .fa-bars {
        display: block;
    }
}


@media(max-width:550px) {
    .nav_links_wrapper .brown_button {
        display: none;
    }
}

@media(max-width:480px) {
    .nav_logo {
        width: 80%;
    }
}